$('.delete_order_item').bind('ajax:success', function() {
  $('#order-total').html("<%= number_to_currency current_order.calculate_total %>")
  $(this).closest('li').remove();
  if ($('.order-item').length == 0){
    $('.empty-cart-div').html("<p>Your shopping cart is empty.</p>")
    $('.empty-cart').html("")
    $('.checkout-button-div').hide()
    $('.checkout-button').hide()
  };
});
