// Place all the styles related to the categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap-sprockets";
@import "bootstrap";
@import "devise_bootstrap_views";

$grey: #808080;
$light-blue: #9edcec;
$light-grey: #f5f5f5;
$dark-blue: #0e647d;

*:focus {
outline: 0;
outline: none;
}

.price-slider.ui-corner-all,
.price-slider .ui-corner-all {
  border-radius: 0;
}

.price-slider.ui-slider {
  border: 0;
  background: #b6b2b1;
  border-radius: 10px;
}

.price-slider.ui-slider {
  height: 4px;
}

.price-slider .ui-slider-handle {
  width: 15px;
  height: 15px;
  background: #353735;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.price-slider.ui-slider .ui-slider-handle {
  top: 50%;
  margin-top: -7.5px;
}

.price-slider .ui-slider-handle:hover {
  opacity: .8;
}

.price-slider .ui-slider-range {
  border: 0;
  border-radius: 10;
  background: #9edcec;
}

.price-slider.ui-slider .ui-slider-range {
  top: 0;
  height: 4px;
}

.slider {
  width:80%;
  margin-left: 0;
  margin-right: auto;
}

.categories, .tags{
  text-align: center;
  list-style: none;
}

.category, .tag{
  display: inline;
}

.sk-cube-grid {
  width: 40px;
  height: 40px;
  margin: 100px auto;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #333;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  }
}

.input-checkbox{
  width:100%;
  text-align: left;
}

.simple-button, .simple-button-black{
  border-radius: 0 !important;
  background-color: Transparent !important;
  background-repeat:no-repeat !important;
  width: 275px !important;
}

.simple-button-grey{
  background-color: rgb(245, 245, 245);
  border-radius: 0 !important;
  width: 200px;
}

.simple-button-grey:hover{
  background-color: rgb(245, 245, 245);
}

.sort-button-text{
  color:#777;
}

.sorted-by{
  float: left !important;
  text-transform: capitalize;
  vertical-align: middle;
  font-size: 16px;
}

.sort-by-option{
  cursor: pointer;
  padding: 10px 5px;
}

.sort-by-option:hover{
  background-color: rgb(245, 245, 245);
}

.newest-product-info{
  color: grey;
  padding-right: 0 !important;
}

.pagination li span, .pagination li a{
  font-size: 12px !important;
}

.sort-by-dropdown, #sort-by-dropdown{
  border-radius: 0 !important;
  width: 250px;
  position: relative;
  left: 95% !important;
  right: auto !important;
  text-align: center !important;
  transform: translate(-95%, 0) !important;
}

#dropdown-sort-toggle-button{
  padding-right: 0px !important;
}

.control {
	font-size: 18px;
	position: relative;
	display: block;
	margin-bottom: 15px;
	padding-left: 30px;
	cursor: pointer;
}

.control input {
	position: absolute;
	z-index: -1;
	opacity: 0;
}

.control__indicator {
	position: absolute;
	top: 2px;
	left: 0;
	width: 20px;
	height: 20px;
	background: #e6e6e6;
}

.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
	background: #ccc;
}

/* Checked state */
.control input:checked ~ .control__indicator {
	background: $dark-blue;
}

/* Hover state whilst checked */
.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
	background: #0e647d;
}

/* Disabled state */
.control input:disabled ~ .control__indicator {
	pointer-events: none;
	opacity: .6;
	background: #e6e6e6;
}

/* Check mark */
.control__indicator:after {
	position: absolute;
	display: none;
	content: '';
}

/* Show check mark */
.control input:checked ~ .control__indicator:after {
	display: block;
}

.newest-product-image{
  padding: 0 !important;
}

.newest-product{
  padding-right: 0 !important;
}

/* Checkbox tick */
.control--checkbox .control__indicator:after {
	top: 4px;
	left: 8px;
	width: 5px;
	height: 10px;
	transform: rotate(45deg);
	border: solid #fff;
	border-width: 0 2px 2px 0;
}

/* Disabled tick colour */
.control--checkbox input:disabled ~ .control__indicator:after {
	border-color: #7b7b7b;
}

.simple-button{
  border: 2px solid white !important;
}

.simple-button-black{
  border: 1px solid black !important;
}

#filter-button{
  margin-left: 25px;
  border: 1px solid black !important;
}

.modal-content{
  border-radius: 0px !important;
}

#filter-button:hover{
  border: 2px solid black !important;
  margin-bottom: -2px;
}

#close-filter-button{
  width:32px !important;
  text-align: center !important;
  float: right;
  padding: 5px !important;
}

.simple-button:hover, .simple-button-black:hover{
  background-color: white !important;
  border-radius: 0;
  .button-text {
    color:black;
  }
}

.simple-button:hover{
  border: 2px solid white;
}

.simple-button-black:hover{
  border: 1px solid #efefef !important;
}

#subscribe-button:hover{
  border: 1px solid rgb(204, 204, 204)!important;
}

.button-text-black, .button-text{
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 3px;
  color:white;
}

.button-text-black{
  color:black !important;
}

#x-text{
  letter-spacing: 0px !important;
}

.filter {
  // position: fixed !important;
  left:0;
  padding:0px;
  margin-bottom: 0px;
  vertical-align: middle;
}

.price-output{
  text-align: left;
  padding-bottom: 10px;
  width: 80%;
  margin-left: 0;
  margin-right: auto;
}

.price-filter{
  padding:20px 5px;
}

.product-title-container{
  text-align: center;
}

.filter-title{
  font-weight: 300;
}

.slider {
  text-align: center;
}

.tag-filter {
  text-align: center;
  display: inline-block;
}

.category-show{
  margin-top: 0px;
  width: 100%;
  flex:1;
  padding: 0 0 50px 0 !important;
}

.topbar{
  display: block; //very importnat reason for the initial white space
  overflow: hidden; //very important reason for the white space
  position:relative;
  top:0;
  left:0;
  bottom:0;
  right:0;
  height:50vh;
  width:100%;
  z-index: 2;
  margin-bottom: 30px;
}

.topbar-text-container{
  vertical-align: middle;
  line-height: 40vh;
}

.topbar-text{
  text-transform: uppercase;
  font-size: 32px;
  color: white;
  vertical-align: middle;
}

.path-links{
  text-align: center;
  color: white;
}

.content-path-links{
  text-align: left;
  color: grey;
  margin-bottom: 30px;
}

.content-path-text{
  color:grey;
  font-size: 13px;
}

.items {
  padding: 2px !important;
}

.pagination-links{
  text-align: center;
}

.pagination li a{
  color: black !important;
}

.pagination .active span {
  background: $light-blue !important;
  border-color: $light-blue !important;
}

.highlight{
  border-color: red !important;
}
