// Place all the styles related to the categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap-sprockets";
@import "bootstrap";
@import "devise_bootstrap_views";

*:focus {
outline: 0;
outline: none;
}

.price-slider.ui-corner-all,
.price-slider .ui-corner-all {
  border-radius: 0;
}

.price-slider.ui-slider {
  border: 0;
  background: #f7d2cc;
  border-radius: 10px;
}

.price-slider.ui-slider {
  height: 14px;
}



.price-slider .ui-slider-handle {
  width: 30px;
  height: 30px;
  background: #a4a9a3;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.price-slider.ui-slider .ui-slider-handle {
  top: 50%;
  margin-top: -15px;
}

.price-slider .ui-slider-handle:hover {
  opacity: .8;
}

.price-slider .ui-slider-range {
  border: 0;
  border-radius: 10;
  background: #f99;
}

.price-slider.ui-slider .ui-slider-range {
  top: 0;
  height: 14px;
}


.categories, .tags{
  text-align: center;
  list-style: none;
}

.category, .tag{
  display: inline;
}

.sk-cube-grid {
  width: 40px;
  height: 40px;
  margin: 100px auto;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #333;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  }
}
.searchable-container{
  margin:0 0 0 0
}

.searchable-container .tag-check-box.active{
  background-color:#007ba7;
  color:#FFF
}
.searchable-container .tag-check-box{
  width:90%;
  border:1px solid #efefef;
  margin:5px;
  box-shadow:2px 5px 5px 0 #ccc;
}
.searchable-container .bizcontent{
  width:100%;
}
.searchable-container .btn-group{
  width:100%
}
.searchable-container .tag-check-box span.glyphicon{
    opacity: 0;
}
.searchable-container .tag-check-box.active span.glyphicon {
    opacity: 1;
}

.tag-check-box{
  border-radius: 3px;
  background-color: white;
}

.filter {
  border:1px solid #ece8e8;
  padding:15px;
  margin-bottom: 20px;
  border-radius: 3px;
  text-align: center;
  vertical-align: middle;
  height:100px;
}

.tag-filter {
  text-align: center;
  vertical-align: middle;
  display: inline-block;
}
