// Place all the styles related to the charges controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#confirmation-tick{
  color:green;
  font-size: 10em;
  width: 100%;
}

.confirmation-content{
  text-align: center;
}

.confirmation-text{
  width: 100%;
}

.center-return-to-shop-container{
  text-align: center;
  width: 100%;
}
