// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.details{
  float:left;
}

.summary{
  margin-top: 60px;
}

.price{
  float: right;
}

.pay-button{
  text-align: center;
}

.total-price{
  float: right;
  font-weight: bold;
  font-size: 18px;
}

.order-item{
  padding-bottom: 3vh;
  font-size: 16px;
}

.individual-price{
  font-style: italic;
}

.filter {
  border:1px solid black;
  padding:15px;
  border-radius: 5px;
}
