// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";
@import "devise_bootstrap_views";

#product{
  text-align: center;
  border: 1px solid #ece8e8;
  border-radius: 5px;
  padding:0;
  height:350px;
  color:#666;
}
.quantity{
  text-align: center;
}
.text-center{
  text-align: center;
}

.product-show-image{
  width:100%;
  height:200px;
  max-height: 250px;
  object-fit: cover;
  padding-left:0;
  padding-right: 0;
  border-radius: 4px;
}

.small-product-show-image{
  width:20%;
  height: auto;
}

#show-item{
  margin-top: 20px;
}

.section {
  padding: 5vh 0vh;
}

.category, .tag{
  padding:10px;
  border: 1px solid #ece8e8;
  border-radius: 5px;
  font-size: 28px;
}



.outer-category, .outer-tag{
  margin: 10px;
}

.category:hover, .tag:hover{
  background-color:white;
  border: 1px solid #c37600;
  text-decoration: none;
  color:black;
}


#product:hover{
  border: 1px solid #c37600;
}

.featured{
  max-width: 420px;
  color: #fff;
  display: block;
  position: relative;
  z-index: 10;
}
.ribbon{
  background: red;
  height: 40px;
  line-height: 40px;
  position: absolute;
  padding-right: 40px;
  left: -6px;
  padding-left: 20px;
  top: 10px;
  color: #fff;
  &:before{
  content: '';
  position: absolute;
  height: 0;
  width: 0;
  top: 100%;
  left: 0px;
  border-top: 7px solid #7f0000;
  border-left: 7px solid transparent;
}
  &:after {
  content: '';
  display: block;
  height: 0;
  width: 0;
  border-style: solid;
  border-width: 20px;
  border-color: red;
  border-right-color: transparent;
  position: absolute;
  left: 100%;
  top: 0;
 }
}
#product-image{
  width:100%;
  height:200px;
  max-height: 250px;
  object-fit: cover;
  padding-left:0;
  padding-right: 0;
  border-radius: 4px 4px 0px 0px;
}

#jewelery-main-image{
  width:100%;
  height:120px;
  max-height: 180px;
  object-fit: cover;
  padding-left:0;
  padding-right: 0;
  border-radius: 4px 4px 0px 0px;
}

.main-details{
  margin-bottom: 10vh;
}

.col-md-12{
  padding-left:0;
  padding-right: 0;
}

.carousel-item img{
  width: 100%;
  max-height: 500px;
  object-fit: cover;
}

.carousel-control.left, .carousel-control.right {
  background: none !important;
}

.preview-img{
  width:100%;
  height: auto;
}


.sizes{
  text-align: center;
  padding-top: 2%;
  padding-bottom: 2%;
}

.sizes{
  text-align: center;
}

.size-image{
  height:100px;
  object-fit: cover;
}

.ingredient-icon, .material-icon{
  width:40px;
  height:auto;
  float: right;
}

.ingredient-name, .material-name{
  float: left;
  vertical-align: middle;
}

.header-image{
  margin-top: 6vh;
  margin-bottom: 6vh;
}

.sub-title{
  font-size: 32px;
  text-align: center;
}

.storage{
  margin-top: 3vh;
}

.ingredient, .material{
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.material {
  padding-left: 12vh;
  padding-right: 12vh;
}

.order-cake{
  text-align: center;
}

.product-ingredients, .product-materials{
  border: 1px solid #ece8e8;
  border-radius: 3px;
  text-align: center;
}

#order-cake-btn{
  border: 1px solid #e1c546;
  border-radius: 3px;
  color: #666;
  background-color: white;
  width:100%;
  margin-bottom: 4vh;
}

.order-cake-text{
  font-weight: bold;
  font-size: 24px;
}

#order-cake{
  padding-left:0;
  padding-right: 0;
}

#order-cake-btn:hover{
  text-decoration: none;
  background-color: white;
  color: #666;
  border: 1px solid #c37600;
}

.product-materials {
  margin-top: 6vh;
  padding:2vh;
}

.outer-material{
  padding:2vh;
}



#material-title{
  padding-top: 3vh;
  margin-bottom: 4vh;
}

.container{
  margin:75px;
}

.size{
  width: 15%;
  display: inline-block;
  border: 1px solid #e1c546;
  border-radius: 5px;
  padding-bottom: 1vh;
  margin-left: 2vh;
  margin-right: 2vh;
}

.jam-quantity{
  width:20%;
  text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */

}

input{
  border-radius: 2px;
  border: 1px solid #ece8e8;
}

input:focus{
  outline: none;
}

.jewelery-quantity{
  width:42%;
}

.new-order-item{
  text-align: center;
}

.cake-quantity{
  width:40%;
}

.add-cart{
  margin-top: 3vh;
  width:60%;
}

.size-image, .size-amount, .size-add-cart {
  width:100%;
}

.jewelery-add-cart{
  width:50%;
  border: 1px solid #ece8e8;
  text-align: center;
  border-radius: 4px;
  padding:3vh;
}

.carousel{
  text-align: center;
}

#index{
  margin-top: 30px;
}

#carouselExampleIndicators{
  width:80%;
  margin-left: auto;
  margin-right: auto;
}

.carousel-inner{
  border-radius: 5px;
  border: 1px solid #ece8e8;
}

.jam-size{
  text-align: center;
  margin-top: 20%;
}

.extra-small{
  width:16%;
  height: auto;
}
.small{
  width:20%;
  height: auto;
}

.medium{
  width:24%;
  height: auto;
}

.large{
  width:28%;
  height: auto;
}

.delivery-title, .pickup-title{
  display: none;
}

.jams-homescreen{
  width:100%;
  max-height:350px;
  object-fit: cover;
}

.categories li, .tags li{
  display: inline;
}

.categories, .tags {
  padding-top: 15px;
  padding-left:0px;
}

.icon{
  width:30px;
  height: auto;
  color:black;
}

.title {
  text-align: center;
  padding-bottom: 1vh;
  font-size: 56px;
}

.product-details{

}

.product-title{
  text-align: center;
}

.title-underlign{
  border-top: 2px solid #ece8e8;
  padding-bottom: 8vh;
}

.product-price{
  font-size: 18px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.product-name{
  font-size: 24px;
  text-transform: uppercase;
  padding-top: 15px;
  padding-bottom: 5px;
}

.starting-from{
  font-size: 14px;
}

.minus-quantity, .plus-quantity{
  border: 1px solid #ece8e8;
  text-align: center;
  width:20%;
  display: inline-block;
  border-radius: 2px;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.minus-quantity:hover, .plus-quantity:hover{
  border: 1px solid #c37600;
}
