// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";
@import "devise_bootstrap_views";

*:focus {
outline: 0;
outline: none;
}

#admin-product{
  text-align: center;
  border: 1px solid #ece8e8;
  border-radius: 5px;
  padding:0;
  height:350px;
  color:#666;
}

.outside-product{
  padding: 20px 25px !important;
}

#product {
  position: relative;
  text-align: center;
  border: 0px solid black;
  height:300px;
  color:#666;
  padding: 0;
  cursor: pointer;
}

#product-modal{
  overflow-y: scroll;
}

#admin-product{
  height: 400px;
}

.quantity{
  text-align: center;
  width: 40px !important;
}

#newest-product-image{
  width:100%;
  height: 60px;
  object-fit: cover;
}

.product-image{
  height: 200px !important;
  width: 100%;
  object-fit: cover;
}

.normal-text{
  font-size: 13px;
  line-height: 24px;
}

.newest-product-name, .newest-product-price{
  padding: 0 !important;
  font-size: 13px;
  line-height: 24px;
}

.sidebar-title{
  line-height: 32px;
}

.sidebar-title-container{
  margin-bottom: 10px;
  padding-left: 5px;
  border-bottom: 1px solid black;
}

.newest-product{
  margin-top: 10px;
  margin-bottom: 10px;
}

.sidebar-content {
  display: inline-block;
  padding : 20px 0 !important;
}

.newest-product-name{
  width: 75%;
}
.text-center{
  text-align: center;
}

.product-show{
  margin-top: 0px;
}

.product-show-image{
  height:500px !important;
}

#product-show-image{
  width:100%;
  object-fit: cover;
  padding-left:0;
  padding-right: 0;
  border-radius: 0px !important;
  border: 0px !important;
}

.relatedproducts{
  margin-top: 150px;
}

.relatedproducts-title{
  text-align: center;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  padding-top: 15px;
  padding-bottom: 15px;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.product-topbar{
  display: block; //very importnat reason for the initial white space
  overflow: hidden; //very important reason for the white space
  position:relative;
  top:0;
  left:0;
  bottom:0;
  right:0;
  height:25vh;
  width:100%;
  z-index: 2;
  margin-bottom: 30px;
}

.product-topbar-text-container{
  vertical-align: middle;
  line-height: 10vh;
  text-align: center;
}

.product-topbar-text{
  text-transform: uppercase;
  font-size: 32px;
  color: white;
  vertical-align: middle;
  text-align: center;
}

.small-dragged-product-show-image{
  opacity: 0.5;
  position: absolute;
  height: 100px !important;
  width: 100px !important;
  z-index: 100;
}

.small-product-show-image{
  width:20%;
  height: auto;
}

#show-item{
  margin-top: 20px;
  margin-bottom: 0;
}

.section {
  padding: 5vh 0vh;
}

.category, .tag{
  padding:10px;
  border: 1px solid #ece8e8;
  border-radius: 5px;
  font-size: 28px;
}



.outer-category, .outer-tag{
  margin: 10px;
}

.category:hover, .tag:hover{
  background-color:white;
  border: 1px solid #c37600;
  text-decoration: none;
  color:black;
}


#product:hover{
  #product-image{
    border: 3px solid white;
  }
}

.featured{
  max-width: 420px;
  color: #fff;
  display: block;
  position: relative;
  z-index: 10;
}
.ribbon{
  background: red;
  height: 40px;
  line-height: 40px;
  position: absolute;
  padding-right: 40px;
  left: -6px;
  padding-left: 20px;
  top: 10px;
  color: #fff;
  &:before{
  content: '';
  position: absolute;
  height: 0;
  width: 0;
  top: 100%;
  left: 0px;
  border-top: 7px solid #7f0000;
  border-left: 7px solid transparent;
}
  &:after {
  content: '';
  display: block;
  height: 0;
  width: 0;
  border-style: solid;
  border-width: 20px;
  border-color: red;
  border-right-color: transparent;
  position: absolute;
  left: 100%;
  top: 0;
 }
}
#product-image{
  width:100%;
  height:200px;
  max-height: 250px;
  object-fit: cover;
  padding-left:0;
  padding-right: 0;
}

#jewelery-main-image{
  width:100%;
  height:120px;
  max-height: 180px;
  object-fit: cover;
  padding-left:0;
  padding-right: 0;
  border-radius: 4px 4px 0px 0px;
}

.main-details{
  margin-bottom: 10vh;
}

.col-md-12{
  padding-left:0;
  padding-right: 0;
}

.carousel-item img{
  width: 100%;
  max-height: 500px;
  object-fit: cover;
}

.carousel-control.left, .carousel-control.right {
  background: none !important;
}

.preview-img{
  width:350px;
  max-height: 300px;
  object-fit: cover;
}

.ingredient-icon, .material-icon{
  width:40px;
  height:auto;
  float: right;
}

.ingredient-name, .material-name{
  float: left;
  vertical-align: middle;
}

.glyphicon.glyphicon-ok.check-mark{
  display: none;
}

.sub-title{
  font-size: 32px;
  text-align: center;
}

.storage{
  margin-top: 3vh;
}

.ingredient, .material{
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.material {
  padding-left: 12vh;
  padding-right: 12vh;
}

.order-cake{
  text-align: center;
}

.product-ingredients, .product-materials{
  border: 1px solid #ece8e8;
  border-radius: 3px;
  text-align: center;
}

#order-cake-btn{
  border: 1px solid #e1c546;
  border-radius: 3px;
  color: #666;
  background-color: white;
  width:100%;
  margin-bottom: 4vh;
}

.order-cake-text{
  font-weight: bold;
  font-size: 24px;
}

#order-cake{
  padding-left:0;
  padding-right: 0;
}

#order-cake-btn:hover{
  text-decoration: none;
  background-color: white;
  color: #666;
  border: 1px solid #c37600;
}

.product-materials {
  margin-top: 6vh;
  padding:2vh;
}

.outer-material{
  padding:2vh;
}



#material-title{
  padding-top: 3vh;
  margin-bottom: 4vh;
}

.container{
  margin:75px;
}

.size{
  width: 15%;
  display: inline-block;
  border: 1px solid #e1c546;
  border-radius: 5px;
  padding-bottom: 1vh;
  margin-left: 2vh;
  margin-right: 2vh;
}

.jam-quantity{
  width:20%;
  text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */

}

input{
  border-radius: 2px;
  border: 1px solid #ece8e8;
}

input:focus{
  outline: none;
}

.jewelery-quantity{
  width:42%;
}

.new-order-item{
  text-align: center;
}

.cake-quantity{
  width:40%;
}

.add-cart{
  margin-top: 3vh;
  width:60%;
}


.jewelery-add-cart, .jam-add-cart{
  width:50% !important;
  border: 1px solid #ece8e8;
  text-align: center;
  border-radius: 0px;
  padding:3vh;
}

#jewelery-add-cart{
  background-color: #47b475;
  border-radius: 0;
  border:0;
}

.add-cart-text{
  color:white;
  font-weight: 300;
}

.carousel{
  text-align: center;
}

#index{
  margin-top: 30px;
}

.carouselExampleIndicators{
  width:80%;
  margin-left: auto;
  margin-right: auto;
}

.carousel-inner{
  border-radius: 0px;
  border: 0px solid #ece8e8;
}

.delivery-title, .pickup-title{
  display: none;
}

.jams-homescreen{
  width:100%;
  max-height:350px;
  object-fit: cover;
}

.categories li, .tags li{
  display: inline;
}

.categories, .tags {
  padding-top: 15px;
  padding-left:0px;
}

.icon{
  width:30px;
  height: auto;
  color:black;
}

.title {
  text-align: center;
  padding-bottom: 1vh;
  font-size: 56px;
}

.product-details{

}

.text-center{
  text-align: center;
}

.text-left{
  text-align: left;
}

.product-show-price{
  color : rgb(71, 180, 117);
  font-size: 32px;
  font-weight: 300 !important;
  line-height: 40px;
}

.product-show-price-div{
  margin-bottom: 32px;
}

.title-underlign{
  border-top: 2px solid #ece8e8;
  padding-bottom: 8vh;
}

.product-price{
  font-size: 18px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.product-name{
  font-size: 16px;
  text-transform: uppercase;
  padding-top: 15px;
  padding-bottom: 5px;
  text-decoration: none;
  color: #666;
  line-height: 24px;
}

.product-show-name{
  font-size: 24px;
  letter-spacing: 3px;
  text-transform: uppercase;
  line-height: 32px;

}

.product-show-name-div{
  margin-bottom: 24px;
}

.cart-product-name{
  font-size: 16px;
}

.cart-product-quantity{
  font-size: 13px;
}

.product-price{
  position: relative;
  bottom: 0;
  font-size: 13px;
  line-height: 24px;
  color: #666;
}

.starting-from{
  font-size: 14px;
}

.minus-quantity, .plus-quantity{
  border: 1px solid #ece8e8;
  text-align: center;
  width:20%;
  display: inline-block;
  border-radius: 2px;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.minus-quantity:hover, .plus-quantity:hover{
  border: 1px solid #c37600;
}


.fullscreen {
  display: block; //very importnat reason for the initial white space
  overflow: hidden; //very important reason for the white space
  position:relative;
  top:0;
  left:0;
  bottom:0;
  right:0;
  height:100vh;
  width:100%;
  z-index: 2;
}

.main-image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-text-container{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

.main-text{
  text-transform: uppercase;
  font-size: 52px;
  color: white;
}



.link_to {
  text-decoration: none;
}

.link_to:hover {
  text-decoration: none;
  background: none;
}


.product-quality{
  display: block;
  position: relative;
  float: clear;
}

.company-promise-container {
  text-align: center;
}
.company-promise{
  font-size: 32px;
  font-weight: 300;
}

.inner-competency {
  text-align: center;
}

.icon{
  font-size: 80px;
  width: 100%;
}

#subscribe-button{
  background-color: #e3f0d4!important;
  border: 1px solid #efefef !important;
}

.subscribe-title{
  font-size: 30px;
  line-height: 36px;
}

.subscribe-title-wrapper{
  margin-bottom: 17px;
}

.subscribe-description{
  font-size: 15px;
  line-height: 30px;
}

.subscribe-description-wrapper{
  margin-top: 17px;
  margin-bottom: 17px;
}

.subscription-input{
  width: 250px !important;
  border-radius: 0!important;
  display: inline-block !important;
  height:45px !important;
}

.subscribe-form{
  text-align: center;
  margin-bottom: 30px;
}

.form-input-wrapper{
  display: inline-block;
}

.competency-title{
  letter-spacing: 2px;
  font-size: 16px;
  text-transform: uppercase;
}

.competency-description{
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.product-show-description-div{
  margin-bottom: 32px;
}

.content-item{
  display: none;
  font-size: 13px;
  line-height: 24px;
}

.active.content-item{
  display: block !important;
}

.tabbed-content{
  margin-top: 48px;
}

.tabs-content{
  margin-top: 24px;
}

.tabs-list{
  list-style: none;
  margin-left: 0 !important;
  margin-right: 0 !important;
  margin-bottom: 0 !important;
  width: 100%;
  padding-left: 0 !important;
  padding-right: 0 !important;
  z-index: 20 !important;
}

.tabs-list-line{
  clear: both;
  border-bottom: 1px solid black;
  width: 100%;
  position: absolute;
  top: 48px;
  z-index: 1 !important;
}

.tab-item{
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  width:18%;
  padding-bottom: 24px;
  text-align: center;
  cursor: pointer;
}

.tab-item.active{
  border-bottom: 1px solid rgb(71, 180, 117) !important;

}

.tabs-list li{
  display: inline-block;
}

.product-show-description{
  font-size: 13px;
}

.competency-description-container, .competency-title-container{
  padding-top: 15px;
}

.inner-category{
  padding:0 !important;
  display: flex;
  align-items: center;
  justify-content: center;


}

.category-image{
  width: 100%;
  height: 300px;
  object-fit: cover;
  z-index: 1;
}

.outer-category{
  margin: 0;
  padding: 15px;

}

.category-title-container{
  position: absolute;
  width: 100%;
  text-align: center;
  display: none;
  z-index: 4;

}

.category-title{
  text-transform: uppercase;
  letter-spacing: 6px;
  font-size: 32px;
  color: white;
}

.inner-category:hover{
  .category-title-container{
    display: block;
    z-index: 3;
  }
  .hover-background {
    opacity: 0.6;
  }

}

.hover-background {
  position: absolute;
  width: 100%;
  height: 100%;
  background: grey;
  z-index: 2;
  opacity: 0;
}
