<div class="container">
  <% if @category.id==2 %>
    <div class="filter row">
      <div class="price-filter col-xs-5">
        <span>
          <label for = "price">Price range:</label>
          <input type = "text" id = "price" style = "border:0; color:#b9cd6d; font-weight:bold;">
        </span>
        <div id = "slider-3" class="price-slider" data-href = <%=@category.id%> ></div>
      </div>
      <div class="tag-filter col-xs-7">
        <div class="searchable-container">
          <%@tags.each do |tag|%>
            <div class="items col-xs-6 col-sm-6 col-md-3 col-lg-3">
              <div class="info-block block-info clearfix">
                <div class="btn-group bizmoduleselect">
                  <div class="bizcontent">
                    <button class='tag-check-box active' id=<%=tag.name%>>
                      <span class="glyphicon glyphicon-ok glyphicon-lg"></span>
                      <h5><%=tag.name%></h5>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          <%end%>
        </div>
      </div>
    </div>
  <% end %>



  <div id="productss"><%=render 'products'%></div>


</div>

<div id="product-modal" class="modal fade"></div>
