<div class="container">
  <% if @category.id==2 %>
    <div class="filter row">
      <div class="price-filter col-xs-5">
        <span>
          <label for = "price">Price range:</label>
          <input type = "text" id = "price" style = "border:0; color:#b9cd6d; font-weight:bold;">
        </span>
        <div id = "slider-3" class="price-slider" data-href = <%=@category.id%> ></div>
      </div>
      <div class="tag-filter col-xs-5">
        <div class="row">
          <div class="form-group">
            <div class="searchable-container">
              <%@tags.each do |tag|%>
                <div class="items col-xs-5 col-sm-5 col-md-3 col-lg-3">
                  <div class="info-block block-info clearfix">
                    <div class="btn-group bizmoduleselect">
                      <div class="bizcontent">
                        <button class='tag-check-box active' id=<%=tag.name%>>
                          <span class="glyphicon glyphicon-ok glyphicon-lg"></span>
                          <h5><%=tag.name%></h5>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              <%end%>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>



  <div id="productss"><%=render 'products'%></div>


</div>

<div id="product-modal" class="modal fade"></div>

<div id="loading-modal" class="modal fade">
  <div class="spinner">
    <div class="sk-cube-grid">
      <div class="sk-cube sk-cube1"></div>
      <div class="sk-cube sk-cube2"></div>
      <div class="sk-cube sk-cube3"></div>
      <div class="sk-cube sk-cube4"></div>
      <div class="sk-cube sk-cube5"></div>
      <div class="sk-cube sk-cube6"></div>
      <div class="sk-cube sk-cube7"></div>
      <div class="sk-cube sk-cube8"></div>
      <div class="sk-cube sk-cube9"></div>
    </div>
  </div>
</div>
