<p id="notice"><%= notice %></p>

<h1>Products</h1>
<%= render "index" %>


<div class="well">
  <%= link_to "New Product", new_product_path, remote: true, class: "btn btn-primary" %>
</div>

<div id="product-modal" class="modal fade"></div>
