<footer>
  <div class="footer-div">
    <span class="firstfooterrow"><span class="made-by small-text">Made by Gabriel Jaeger</span><span class="email-address"><i class="fa fa-envelope general-icon"></i><a href="mailto:support@company.com" class="email-link"><span class="email-address-text small-text">email@gmail.com</span></a></span><span class="address"><i class="fa fa-map-marker general-icon"></i><span class="address-text small-text">63 Beach Road, 50193 Singapore</span></span></span><span class="secondfooterrow"><span class="made-by2 small-text">Made by Gabriel Jaeger</span><span class="copyright small-text">&copy Copyright JewelQueen</span></span></span>
  </div>
</footer>
