<footer class="footer-distributed" id="contact">

  <div class="footer-left">

    <%=image_tag("logo.png", :class=>"nav-logo")%>

    <p class="footer-links">
      <a href="#">Home</a>
      ·
      <a href="#">How it works</a>
      ·
      <a href="#">Contact</a>
    </p>

    <p class="footer-company-name">Hexagon innovation &copy; 2017</p>
    <div class="footer-icons">

      <a href="#"><i class="fa fa-facebook"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
      <a href="#"><i class="fa fa-linkedin"></i></a>
      <a href="#"><i class="fa fa-github"></i></a>

    </div>
  </div>

  <div class="footer-center">

    <div>
      <i class="fa fa-map-marker general-icon"></i>
      <p><span>1 Some Street</span> Melbourne, Australia</p>
    </div>

    <div>
      <i class="fa fa-phone general-icon"></i>
      <p>+6 401 203 391</p>
    </div>

    <div>
      <i class="fa fa-envelope general-icon"></i>
      <p><a href="mailto:support@company.com">support@hexinnov.com</a></p>
    </div>



  </div>
  <div class="footer-right">

    <p>Contact Us</p>

    <form action="#" method="post">

      <input type="text" name="email" placeholder="Email" />
      <textarea name="message" placeholder="Message"></textarea>
      <button>Send</button>

    </form>

  </div>

</footer>
